
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= t('.sign_up', :default => "Sign In") %></h4>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
          </div>

          

          <div class="form-group">
            <%= f.submit  t('.sign_in'), class: 'btn btn-primary' %>
          </div>
        <% end %>
        <%= render 'devise/shared/links' %>
      </div>

    </div>

  </div>
  
  <div class="col-md-2"></div>
</div>